@model IEnumerable<Anca.Rizan.WebRentC.Core.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.CarID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostumerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservStatsID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CouponCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.LocationID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Car.Plate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReservationStatus.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CouponCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReservationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReservationID })
        </td>
    </tr>
}

</table>
